.nav-cont {
    background-color: rgb(133, 245, 245);
    display: flex;
    justify-content: space-around;
    height: 2.5rem;
    align-items: center;
    font-family: cursive;
}

.nav-link-cont {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    font-family: cursive;
    text-decoration: none;
}