.create-cont form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-cont h1{
    font-size: 48px;
    font-family: cursive;
    color: rgb(255, 162, 171);
    display: flex;
    justify-content: center;
}

.create-cont-input{
    width: 15rem;
}

.create-button{
    margin: 2rem;
    background-color: rgb(171, 105, 207);
}

.create-error{
    color: red;
}

.create-height{
    display: flex;
    flex-direction: row;
}

.create-input{
    width: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

.create-cont-select{
    width: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.create-cont-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}